<main id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-12 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-10 p-0">
        <app-navbar></app-navbar>
        <div class="row p-sm m-0">
          <div class="col-lg-4 d-flex justify-content-center align-items-center">
            <div class="input-group position-relative">
              <div class="icon position-absolute end-0">
                <img src="../../../../assets/icons/loupe.png" alt="png img icon">
              </div>
              <input
              type="text"
              class="form-control rounded-3 text-white"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              placeholder="Search"
              [(ngModel)]= "searchText"
              (keyup)="filter($any($event).target.value)">
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-around align-items-center buttons">
            <button type="button" class="btn Search rounded-4 text-white ms-sm">Search</button>
            <button type="button" class="btn Cancel rounded-4 text-white ms-sm" (click)="cancelSearch()">Cancel Search</button>
          </div>
          <div class="col-lg-12 d-flex justify-content-start align-items-center mt-md">
            <button type="button" class="btn Add rounded-4 text-white ms-sm" (click)="openCreateForm()">Add New Client Location <img src="../../../../assets/icons/add.png" alt="add img png"></button>
          </div>
          <div class="col-lg-12 mt-md p-sm">
            <ngx-datatable
            [scrollbarH]="true"
            [scrollbarV]="true"
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="70"
            rowHeight="auto"
            [rows]="rows"
            [limit]="3">
            <ngx-datatable-column name="ID"    prop="id" [width]="50"></ngx-datatable-column>
            <ngx-datatable-column name="Client ID" prop="client_id" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Latitude" prop="lat" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Longitude" prop="long" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Phone Number"    prop="phone_number" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Telephone"    prop="telephone" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="location Type"    prop="location_type" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="street"    prop="street" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Building"    prop="building" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Floor"    prop="floor" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Apartment"    prop="apartment" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Additional Instructions"    prop="additional_instructions" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="dDtailed Address"    prop="detailed_address" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Created At" prop="created_at" [width]="300">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ng-container>
                  {{row.created_at | date:'EEEE, MMMM d, y, h:mm:ss a'}}
                </ng-container>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Updated At" prop="updated_at" [width]="300">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ng-container>
                  {{row.updated_at | date:'EEEE, MMMM d, y, h:mm:ss a'}}
                </ng-container>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
            name="Actions"
            [sortable]="false"
            prop="id"
            [width]="200"
            [minWidth]="200"
            [resizeable]="true">
            <ng-template
              let-row="row"
              let-value="value"
              let-rowIndex="rowIndex"
              ngx-datatable-cell-template>
              <img src="../../../../assets/icons/editing_2.png" alt="img png" style="cursor: pointer;" class="me-sm" (click)="UpdateClientLocation(row)">
               <img src="../../../../assets/icons/trash_2.png" alt="img png" style="cursor: pointer;" class="me-sm" (click)="GetDeleteClientLocationId(row.id)">
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Add New Client Location -->
<div class="modal fade show d-block" tabindex="-1" *ngIf="show_create" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color:#191919; width: 500px;">
      <div class="d-flex justify-content-end align-items-center">
        <i class="fa-solid fa-xmark fa-3x p-sm" (click)="close_create()" style="color: white; cursor: pointer;"></i>
      </div>
      <div class="modal-body">
        <h2 class="fs-lg text-white text-center text-decoration mb-lg p-sm" style="background-color :#292929;">Add New Client Loction</h2>
        <form class="text-white" [formGroup]="Create_Form" (ngSubmit)="CreateForm(Create_Form)">
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="Latitude">Latitude :</label>
            </div>
           <div class="col-9">
            <div class="input-group mb-3">
              <input type="number" class="form-control rounded-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Latitude" formControlName="lat">
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="Longitude">Longitude :</label>
            </div>
           <div class="col-9">
            <div class="input-group mb-3">
              <input type="number" class="form-control rounded-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Longitude" formControlName="long">
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="Phone Number">Phone Nubmer : </label>
            </div>
           <div class="col-8">
            <div class="input-group mb-3 position-relative">
              <div class="icon position-absolute end-0">
                <img src="../../../../assets/icons/telephone.png" alt="png img icon">
              </div>
              <input type="number" placeholder="phone number" class="form-control rounded-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Phone Number" formControlName="phone_number">
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="street">Street :</label>
            </div>
           <div class="col-9">
            <div class="input-group mb-3">
              <input type="text" placeholder="Street" class="form-control rounded-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="street" formControlName="street">
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="building">Building : </label>
            </div>
           <div class="col-9">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="building"
                    placeholder="building"
                    formControlName="building"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="floor">Floor : </label>
            </div>
           <div class="col-8">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="floor"
                    placeholder="Floor"
                    formControlName="floor"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="apartment">Apartment : </label>
            </div>
           <div class="col-8">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="apartment"
                    placeholder="Apartment"
                    formControlName="apartment"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="detailed_address">Detailed Address : </label>
            </div>
           <div class="col-8">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="detailed_address"
                    placeholder="Detailed Address"
                    formControlName="detailed_address"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="additional_instructions">Additional Instructions : </label>
            </div>
           <div class="col-8">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="detailed_address"
                    placeholder="Additional Instructions"
                    formControlName="additional_instructions"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="telephone">Telephone (optional) : </label>
            </div>
           <div class="col-8">
            <div class="input-group">
              <input
                    type="number"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="telephone"
                    placeholder="Telephone"
                    formControlName="telephone"
                    />
            </div>
           </div>
          </div>


          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="location_type">location Type : </label>
            </div>
           <div class="col-9">
            <div class="input-group">
                    <select class="form-select rounded-3" aria-label="Default select example" formControlName="location_type" id="location_type">
                      <option value="office">Office </option>
                      <option value="apartment">Apartment </option>
                      <option value="house">House </option>
                    </select>
            </div>
           </div>
          </div>

          <div class="d-flex justify-content-center align-items-center mt-sm" *ngIf="!loader_create">
            <button type="submit" class="btn rounded-3 text-white" style="background-color: #2a2a2a; border: 2px solid #aaa5a5;" [disabled]="!Create_Form.valid">Add New Client Location</button>
          </div>
        </form>
        <div class="d-flex justify-content-center align-items-center" *ngIf="loader_create">
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add New Client Location -->
<div class="modal fade show d-block" tabindex="-1" *ngIf="show_update" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color:#191919; width: 500px;">
      <div class="d-flex justify-content-end align-items-center">
        <i class="fa-solid fa-xmark fa-3x p-sm" (click)="close_update()" style="color: white; cursor: pointer;"></i>
      </div>
      <div class="modal-body">
        <h2 class="fs-lg text-white text-center text-decoration mb-lg p-sm" style="background-color :#292929;">Update Client Loction</h2>
        <form class="text-white" [formGroup]="Update_Form" (ngSubmit)="UpdateForm(Update_Form)">
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="Latitude">Latitude :</label>
            </div>
           <div class="col-9">
            <div class="input-group mb-3">
              <input type="number" class="form-control rounded-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Latitude" formControlName="lat">
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="Longitude">Longitude :</label>
            </div>
           <div class="col-9">
            <div class="input-group mb-3">
              <input type="number" class="form-control rounded-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Longitude" formControlName="long">
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="Phone Number">Phone Nubmer : </label>
            </div>
           <div class="col-8">
            <div class="input-group mb-3 position-relative">
              <div class="icon position-absolute end-0">
                <img src="../../../../assets/icons/telephone.png" alt="png img icon">
              </div>
              <input type="number" placeholder="phone number" class="form-control rounded-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="Phone Number" formControlName="phone_number">
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="street">Street :</label>
            </div>
           <div class="col-9">
            <div class="input-group mb-3">
              <input type="text" placeholder="Street" class="form-control rounded-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="street" formControlName="street">
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="building">Building : </label>
            </div>
           <div class="col-9">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="building"
                    placeholder="building"
                    formControlName="building"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="floor">Floor : </label>
            </div>
           <div class="col-8">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="floor"
                    placeholder="Floor"
                    formControlName="floor"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="apartment">Apartment : </label>
            </div>
           <div class="col-8">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="apartment"
                    placeholder="Apartment"
                    formControlName="apartment"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="detailed_address">Detailed Address : </label>
            </div>
           <div class="col-8">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="detailed_address"
                    placeholder="Detailed Address"
                    formControlName="detailed_address"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="additional_instructions">Additional Instructions : </label>
            </div>
           <div class="col-8">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="detailed_address"
                    placeholder="Additional Instructions"
                    formControlName="additional_instructions"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-4">
              <label for="telephone">Telephone (optional) : </label>
            </div>
           <div class="col-8">
            <div class="input-group">
              <input
                    type="number"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="telephone"
                    placeholder="Telephone"
                    formControlName="telephone"
                    />
            </div>
           </div>
          </div>


          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="location_type">location Type : </label>
            </div>
           <div class="col-9">
            <div class="input-group">
                    <select class="form-select rounded-3" aria-label="Default select example" formControlName="location_type" id="location_type">
                      <option value="office">Office </option>
                      <option value="apartment">Apartment </option>
                      <option value="house">House </option>
                    </select>
            </div>
           </div>
          </div>

          <div class="d-flex justify-content-center align-items-center mt-sm" *ngIf="!loader_update">
            <button type="submit" class="btn rounded-3 text-white" style="background-color: #2a2a2a; border: 2px solid #aaa5a5;" [disabled]="!Update_Form.valid">Update Client Location</button>
          </div>
        </form>
        <div class="d-flex justify-content-center align-items-center" *ngIf="loader_update">
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Client Location -->
<div class="glass-effect position-absolute start-0 top-0 d-flex justify-content-center align-items-center" *ngIf="show_delete">
  <div class="h-25 w-50 p-sm d-flex flex-column justify-content-center align-items-center" style="background-color: #661919;">
    <p class="text-white fw-bold display-5 text-center">Are You Sure You Want Delete This Client Location</p>
    <div class="d-flex justify-content-around align-items-center w-75" *ngIf="!loader_delete">
      <button class="btn rounded-3 text-white" style="border: 4px solid #ff0000; background-color: #792c2c;" (click)="deleteClientLocation()">Delete</button>
      <button class="btn rounded-3 text-white" style="border: 3px solid white; background-color: #792c2c;" (click)="show_delete=false">Cancel</button>
    </div>
    <div class="d-flex justify-content-center align-items-center" *ngIf="loader_delete">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</div>
