<main id="content">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="col-lg-6 col-md-6 col-sm-6  d-flex flex-column justify-content-center align-items-center">

      <img src="../../../../assets/images/logo.png" alt="img logo png">
      <h1 class="text-center mb-sm text-white">Reset Your Password</h1>

    <form [formGroup]="ResetPasswordForm" (ngSubmit)="ResetPassword(ResetPasswordForm)" class="w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="input-group mb-sm position-relative">
        <div class="icon icon-right position-absolute start-0">
          <img src="../../../../assets/icons/forgot-password.png" alt="img icon png lock forget-password" class="w-50">
        </div>
        <input type="Password" class="form-control rounded-3 text-white" placeholder="Password" formControlName="resetpassword">
      </div>

      <div class="input-group mb-sm position-relative">
        <div class="icon icon-right position-absolute start-0">
          <img src="../../../../assets/icons/forgot-password.png" alt="img icon png lock forget-password" class="w-50">
        </div>
        <input type="Password" class="form-control rounded-3 text-white" placeholder="Re Enter Password" formControlName="reresetpassword">
      </div>

      <button type="submit" class="btn mt-sm">Change Password</button>
    </form>






    </div>
  </div>
</main>
