$shadow : #09fbc1;
$bg-input : #040404;
$icon-color : #a4a4a4;


main
{
  &
  {
    min-height: 100vh;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    h1
    {
      font-family: "Segoe UI", Arial, sans-serif;
    }

    background:
    {
      image : url("../../../../assets/images/bg.png");
      position: center center;
      size : cover;
    };
  }

  .container
  {
    div[class^="col-"]
    {
      img
      {
        width: 25%;
      }
      form
      {
        width: 100%;
      }
      .input-group
      {
         .icon
         {
           height: 100%;
           width: 45px;
           display: flex;
           justify-content: center;
           align-items: center;
           z-index: 2;
           color : $icon-color;
         }
         input
         {
          &
          {
            padding:
            {
              left : 3rem;
            };
            background:
            {
              color: $bg-input;
            };
            box-shadow: $shadow 1px 1px 10px 0px inset;
            border: 1px solid $shadow;
          }
          &:focus
          {
            z-index: 1;
          }
        }
      }
      button
      {
        width: 50%;
        background:
        {
          color: $bg-input;
        };
        border: 1px solid $shadow;
        box-shadow: $shadow 1px 1px 10px 0px inset;
        width: 50%;
        color: $icon-color;
      }

    }
  }
}


@media only screen and (max-width : 1024px)
{
  main
  {
    .container
    {
      div[class^="col-"]
      {
        img
        {
          width: 75%;
        }
        form
        {
          width: 100%;
        }
        button
        {
          width: 75%;
        }
      }
    }
  }
}

@media only screen and (max-width : 342px)
{
 main
 {
  .container
  {
    div[class^="col-"]
    {
      button
      {
        width: 100%;
      }
    }
  }
 }
}
