<main id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-12 col-sm-12">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-10 col-md-12 col-sm-12 p-0">
        <app-navbar></app-navbar>
        <div class="row p-sm m-0">
          <div class="col-lg-4">
            <div class="input-group position-relative">
              <div class="icon position-absolute end-0">
                <img src="../../../../assets/icons/loupe.png" alt="png img icon">
              </div>
              <input
              type="text"
              class="form-control rounded-3 text-white"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              placeholder="Search"
              [(ngModel)]= "searchText"
               (keyup)="filter($any($event).target.value)">
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-around align-items-center buttons">
            <button type="button" class="btn Search rounded-4 text-white ms-sm">Search</button>
            <button type="button" class="btn Cancel rounded-4 text-white ms-sm" (click)="cancelSearch()">Cancel Search</button>
          </div>
          <div class="col-lg-12 d-flex justify-content-start align-items-center mt-md">
            <button type="button" class="btn Add rounded-4 text-white ms-sm" (click)="openCreateForm()">Add New Statistics Tag <img src="../../../../assets/icons/add.png" alt="add img png"></button>
          </div>
          <div class="col-lg-12 mt-md p-sm">
            <ngx-datatable
            [scrollbarH]="true"
            [scrollbarV]="true"
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="70"
            rowHeight="auto"
            [rows]="rows"
            [limit]="3">
            <ngx-datatable-column name="ID" prop="id" [width]="50"></ngx-datatable-column>
            <ngx-datatable-column name="Title in Arabic" prop="title_ar" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Title in English" prop="title_en" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Percentage" prop="percentage" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Image" prop="img_path" [width]="90">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ng-container>
                  <img [src]="'https://dev.generalhouseservices.com/' + row.img_path" alt="Image" width="80" height="50"/>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created At" prop="created_at" [width]="300">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ng-container>
                  {{row.created_at | date:'EEEE, MMMM d, y, h:mm:ss a'}}
                </ng-container>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Updated At" prop="updated_at" [width]="300">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ng-container>
                  {{row.updated_at | date:'EEEE, MMMM d, y, h:mm:ss a'}}
                </ng-container>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
            name="Actions"
            [sortable]="false"
            prop="id"
            [width]="250"
            [minWidth]="250"
            [resizeable]="true">
            <ng-template
              let-row="row"
              let-value="value"
              let-rowIndex="rowIndex"
              ngx-datatable-cell-template>
              <img src="../../../../assets/icons/editing.png" alt="img png" style="width: 40px; cursor: pointer;" class="me-sm" (click)="UpdateStatiticsTag(row)">
              <img src="../../../../assets/icons/trash.png" alt="img png" style="width: 40px; cursor: pointer;" class="me-sm" (click)="GetStatiticsTagId(row.id)">
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- Add New Satistics tag -->
<div class="modal fade show d-block" tabindex="-1" *ngIf="show_create" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color:#191919;">
      <div class="d-flex justify-content-end align-items-center">
        <i class="fa-solid fa-xmark fa-3x p-sm" (click)="close_create()" style="color: white; cursor: pointer;"></i>
      </div>
      <div class="modal-body">
        <h2 class="fs-lg text-white text-center text-decoration mb-lg p-sm" style="background-color :#292929;">Add New Statistics tag</h2>
        <form class="text-white" [formGroup]="Create_Form" (ngSubmit)="CreateForm(Create_Form)">
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="title_Ar">Title in Ar : </label>
            </div>
           <div class="col-9">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="title_ar"
                    placeholder="Title in Arabic"
                    formControlName="title_ar"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="title_en">Title in En : </label>
            </div>
           <div class="col-9">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="title_en"
                    placeholder="Title in English"
                    formControlName="title_en"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="percentage">Percentage : </label>
            </div>
           <div class="col-9">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="percentage"
                    placeholder="Percentage"
                    formControlName="percentage"
                    />
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center">
            <div class="col-3">
              <label for="img">Image : </label>
            </div>
           <div class="col-9">
            <div class="input-group">
              <input
                    type="file"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    id="img"
                    placeholder="Name in Arabic"
                    (change)="onFileSelected($event , 'add')"
                    accept="image/*" />
            </div>
           </div>
          </div>
          <img src="{{Base64}}" alt="img png" class="w-100 mt-sm" *ngIf="Base64">
          <div class="d-flex justify-content-center align-items-center mt-sm" *ngIf="!loader_create">
            <button type="submit" class="btn rounded-3 text-white" style="background-color: #2a2a2a; border: 2px solid #aaa5a5;" [disabled]="!Create_Form.valid">Add New Statistics Tag</button>
          </div>
        </form>
        <div class="d-flex justify-content-center align-items-center" *ngIf="loader_create">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Statistics Tags -->
<div class="glass-effect position-absolute start-0 top-0 d-flex justify-content-center align-items-center" *ngIf="show_delete">
  <div class="h-25 w-50 p-sm d-flex flex-column justify-content-center align-items-center" style="background-color: #661919;">
    <p class="text-white fw-bold display-5 text-center">Are You Sure You Want Delete This Statistics Tag</p>
    <div class="d-flex justify-content-around align-items-center w-75" *ngIf="!loader_delete">
      <button class="btn rounded-3 text-white" style="border: 4px solid #ff0000; background-color: #792c2c;" type="button" (click)="deleteStatisticsTags()">Delete</button>
      <button class="btn rounded-3 text-white" style="border: 3px solid white; background-color: #792c2c;" (click)="show_delete=false">Cancel</button>
    </div>
    <div class="d-flex justify-content-center align-items-center" *ngIf="loader_delete">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</div>

<!-- Update Statistics Tags -->
<div class="modal fade show d-block" tabindex="-1" *ngIf="show_update" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color:#191919;">
      <div class="d-flex justify-content-end align-items-center">
        <i class="fa-solid fa-xmark fa-3x p-sm" (click)="close_update()" style="color: white; cursor: pointer;"></i>
      </div>
      <div class="modal-body">
        <h2 class="fs-lg text-white text-center text-decoration mb-lg p-sm" style="background-color :#292929;">Update Statistics Tag</h2>
        <form class="text-white" [formGroup]="Update_Form" (ngSubmit)="UpdateForm(Update_Form)">
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="title_Ar">Title in Ar : </label>
            </div>
           <div class="col-9">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="Title in Arabic"
                    formControlName="title_ar"
                    id="title_Ar"
                    >
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="title_En">Title in En : </label>
            </div>
           <div class="col-9">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="Name in English"
                    formControlName="title_en"
                    id="title_En"
                    >
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-md">
            <div class="col-3">
              <label for="percentage">Percentage : </label>
            </div>
           <div class="col-9">
            <div class="input-group">
              <input
                    type="text"
                    class="form-control rounded-3"
                    aria-label="Default"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="Percentage"
                    formControlName="percentage"
                    id="percentage"
                    >
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-sm" *ngIf="!loader_update">
            <button type="submit" class="btn rounded-3 text-white" style="background-color: #2a2a2a; border: 2px solid #aaa5a5;" [disabled]="!Update_Form.valid">Update Statistics tag</button>
          </div>
        </form>
        <div class="d-flex justify-content-center align-items-center" *ngIf="loader_update">
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
